<a href="https://colab.research.google.com/github/Trinaaaa29/katrina-/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Trinaaaa29/Katrina_29/main/incom2024_delay_example_dataset.csv')

In [ ]:
df.head()

,payment_type,profit_per_order,sales_per_customer,category_id,category_name,customer_city,customer_country,customer_id,customer_segment,customer_state,...,order_region,order_state,order_status,product_card_id,product_category_id,product_name,product_price,shipping_date,shipping_mode,label
0,DEBIT,34.448338,92.49099,9.0,Cardio Equipment,Caguas,Puerto Rico,12097.6830,Consumer,PR,...,Western Europe,Vienna,COMPLETE,191.0,9.0,Nike Men's Free 5.0+ Running Shoe,99.99,2015-08-13 00:00:00+01:00,Standard Class,-1
1,TRANSFER,91.193540,181.99008,48.0,Water Sports,Albuquerque,EE. UU.,5108.1045,Consumer,CA,...,South America,Buenos Aires,PENDING,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2017-04-09 00:00:00+01:00,Standard Class,-1
2,DEBIT,8.313806,89.96643,46.0,Indoor/Outdoor Games,Amarillo,Puerto Rico,4293.4478,Consumer,PR,...,Western Europe,Nord-Pas-de-Calais-Picardy,COMPLETE,1014.0,46.0,O'Brien Men's Neoprene Life Vest,49.98,2015-03-18 00:00:00+00:00,Second Class,1
3,TRANSFER,-89.463196,99.15065,17.0,Cleats,Caguas,Puerto Rico,546.5306,Consumer,PR,...,Central America,Santa Ana,PROCESSING,365.0,17.0,Perfect Fitness Perfect Rip Deck,59.99,2017-03-18 00:00:00+00:00,Second Class,0
4,DEBIT,44.722590,170.97824,48.0,Water Sports,Peabody,EE. UU.,1546.3980,Consumer,CA,...,Central America,Illinois,COMPLETE,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2015-03-30 00:00:00+01:00,Standard Class,1

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15549 entries, 0 to 15548
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type              15549 non-null  object
 1   profit_per_order          15549 non-null  float64
 2   sales_per_customer        15549 non-null  float64
 3   category_id               15549 non-null  float64
 4   category_name             15549 non-null  object
 5   customer_city             15549 non-null  object
 6   customer_country          15549 non-null  object
 7   customer_id               15549 non-null  float64
 8   customer_segment          15549 non-null  object
 9   customer_state            15549 non-null  object
 10  customer_zipcode          15549 non-null  float64
 11  department_id             15549 non-null  float64
 12  department_name           15549 non-null  object
 13  latitude                  15549 non-null  float64
 14  longitude                 15549 non-null  float64
 15  market                    15549 non-null  object
 16  order_city                15549 non-null  object
 17  order_country             15549 non-null  object
 18  order_customer_id         15549 non-null  float64
 19  order_date                15549 non-null  object
 20  order_id                  15549 non-null  float64
 21  order_item_cardprod_id    15549 non-null  float64
 22  order_item_discount       15549 non-null  float64
 23  order_item_discount_rate  15549 non-null  float64
 24  order_item_id             15549 non-null  float64
 25  order_item_product_price  15549 non-null  float64
 26  order_item_profit_ratio   15549 non-null  float64
 27  order_item_quantity       15549 non-null  float64
 28  sales                     15549 non-null  float64
 29  order_item_total_amount   15549 non-null  float64
 30  order_profit_per_order    15549 non-null  float64
 31  order_region              15549 non-null  object
 32  order_state               15549 non-null  object
 33  order_status              15549 non-null  object
 34  product_card_id           15549 non-null  float64
 35  product_category_id       15549 non-null  float64
 36  product_name              15549 non-null  object
 37  product_price             15549 non-null  float64
 38  shipping_date             15549 non-null  object
 39  shipping_mode             15549 non-null  object
 40  label                     15549 non-null  int64
dtypes: float64(23), int64(1), object(17)
memory usage: 4.9+ MB

In [ ]:
df['label'] = df['label'].astype('Int64')

In [ ]:
df['label'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15549 entries, 0 to 15548
Series name: label
Non-Null Count  Dtype
--------------  -----
15549 non-null  Int64
dtypes: Int64(1)
memory usage: 136.8 KB

In [ ]:
df['label'].head()

0    -1
1    -1
2     1
3     0
4     1
Name: label, dtype: Int64

In [ ]:
df['product_price']=pd.to_numeric(df['product_price'],errors='coerce').astype('float64')

In [ ]:
df['product_price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15549 entries, 0 to 15548
Series name: product_price
Non-Null Count  Dtype
--------------  -----
15549 non-null  float64
dtypes: float64(1)
memory usage: 121.6 KB

In [ ]:
df['sales']=pd.to_datetime(df['sales'],errors='coerce')

In [ ]:
df['sales'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15549 entries, 0 to 15548
Series name: sales
Non-Null Count  Dtype
--------------  -----
15549 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 121.6 KB

In [ ]:
df['order_city'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15549 entries, 0 to 15548
Series name: order_city
Non-Null Count  Dtype
--------------  -----
15549 non-null  object
dtypes: object(1)
memory usage: 121.6+ KB

In [ ]:
df['order_city'] = df['order_item_product_price'] + df['product_price']

In [ ]:
df['order_city']

0        199.980000
1        399.980000
2         99.960000
3        119.980000
4        399.980000
            ...
15544    799.960000
15545     99.960000
15546     59.999937
15547    119.980000
15548    199.980000
Name: order_city, Length: 15549, dtype: float64